@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap'); 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Quicksand', sans-serif;
}
.container{
  width: 1160px;
  margin: auto; 
}
/* header start */
.main-header{
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.img{
  max-width: 100%;
}
.flex{
  display: flex;
}
.loges{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-title h2{
  color: rgb(0, 0, 0);;
  padding-left: 10px;
  font-size: 32px;
  font-weight: 700;
  line-height: 57px;
}
.header-menu ul{
  gap: 32px;
}
.header-menu ul li{
  list-style: none;
  text-align: center;
}

.header-menu ul li a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
}
.button1 a{
  display: inline-block;
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: rgb(240, 170, 0);
  font-size: 20px;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 12px;
}
.list1{
  color: rgb(254, 163, 1);
}
.list2{
  color: rgb(1, 172, 253);
}
.list3{
  color: rgb(5, 212, 223);
  
}
.list4{
  color: rgb(93, 88, 239);
}
/* header end */

/* banner start*/
.banner{
  justify-content: space-between;
  align-items: center;
}
.hero_content{
  width: 50%;
  padding-right: 10px;
}
.hero_content h2{
  font-size: 50px;
  font-weight: 700;
  line-height: 61px;
}
.hero_content a{
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color:rgb(17, 17, 17);
  font-weight: 700;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 12px;
}
.hero_kids{
  width: 50%;
  text-align: right;
}
.banner-content{
  color: rgb(17, 17, 17);
  font-size: 20px;
  font-weight: 400;
  line-height: auto;
  padding: 20px 0;
}
/* banner end */
/* Standard curriculum start */
.standard-curriculum{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: top, center;
  padding: 80px 0;
}
.sc-heading{
  color: rgb(0, 0, 0);;
  font-size: 46px;
  font-weight: 700;
  line-height: 57px;
}
.curriculum-heading h2{
  text-align: center;
  padding-bottom: 80px;
}
.curriculum_box{
  justify-content: space-between;
  gap: 60px;
}
/* box1 */
.sc_box1{
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(222, 245, 255));
  border-radius: 18px;
  border: 1px solid rgb(222, 245, 255);
}
.sc_box1 h2{
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}
.sc_box1 p{
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(128, 128, 128);
}
.sc_box1 a{
  color: rgb(100, 200, 255);
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 700;
}
/* box2 */
.sc_box2{
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 244, 220));
  border-radius: 18px;
  border: 1px solid rgb(255, 244, 220);
}
.sc_box2 h2{
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}
.sc_box2 p{
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(128, 128, 128);
}
.sc_box2 a{
  color: rgb(240, 170, 0);
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 700;
}
.sc_box3{
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
  justify-content: center;
  text-align: center;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(238, 225, 255));
  border-radius: 18px;
  border: 1px solid rgb(242, 232, 255);
}
.sc_box3 h2{
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}
.sc_box3 p{
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  color: rgb(128, 128, 128);
}
.sc_box3 a{
  color: rgb(135, 0, 255);
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 700;
}
.curriculum-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 60px;
}

.arrow-btn {
  background-color: orange;
  border-radius: 50%;
  color: white;
  font-size: 24px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; 
}
/* Standard curriculum end */
/* Start Blog Section */
.blog_section{
  padding: 50px;
  background-image: url(./assets/bg.png), linear-gradient(to top, #f9e3bd , #fff);;
  background-repeat: no-repeat;
  background-position: top, center;
  
}
.blog_article{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.blog_content{
  padding: 30px 20px;
}
.blog_content p{
  padding-top: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: #666;
}

.blog_heading{
  padding: 20px 0 40px 0;
  text-align: center;
}
.featured_img img{
  border-radius: 8px 8px 0 0;
}

.blog_card1{
  grid-row: span 2;
  grid-column: span 2;
}
.blog_card1 h2{
  font-size: 26px;
  font-weight: 700;
  line-height: 33px;
  color: #000;
}

.blog_card2 h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000;
}
.blog_card3 h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000;
}
.blog_card4 h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000;
}
.blog_card5 h2{
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  color: #000;
}

.blog_box{
  border-radius: 16px;
  background-color: #fff;
}
.blog_box img{
  width: 100%;
}

.blog_content{
  position: relative;
}
.blog_card1 a{
  position: absolute;
  top: -25px;
  font-size: 15px;
  font-weight: 28px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #3CD8E8;
}
.blog_card2 a{
  position: absolute;
  top: -25px;
  font-size: 15px;
  font-weight: 28px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #95B226;
}
.blog_card3 a{
  position: absolute;
  top: -25px;
  font-size: 15px;
  font-weight: 28px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #5D58F0;
}
.blog_card4 a{
  position: absolute;
  top: -25px;
  font-size: 15px;
  font-weight: 28px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #95B226;
}
.blog_card5 a{
  position: absolute;
  top: -25px;
  font-size: 15px;
  font-weight: 28px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #95B226;
}
.view_button{
  margin-top: 50px;
  text-align: center;
}
.view_button a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 25px;
  border-radius: 12px;
  color: #fff;
  background-color: #000;
  text-align: center;
}

/* end Blog Section */

/* footer start */
.footer_section{
  background-color: rgb(1, 172, 253);
  padding: 100px 0;
}
.footer_logo{
  width: 40%;
}
.logo2 {
  align-items: center;
}
.footer_logo p{
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  padding: 20px 20px 0 0;
  color: rgb(255, 255, 255);
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer_logo {
  align-items: center;
  font-size: 26px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  
}
.footer_menu{
  width: 40%;
  padding-left: 120px;
}
.footer_menu h4{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
}
.footer_menu ul li{
  list-style: none;
  line-height: 38px;
}
.footer_menu ul li a{
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.social-links{
  width: 40%;
  padding-left: 120px;
}
.social-links h4{
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
}
.img{
    cursor: pointer;
  }
  .hide{
    display: none;
  }
/* footer end */

/* responsive media query */
@media screen and (max-width: 576px) {
  .logo-title, .header-menu, .button1{
    display: none;
  }
  .hide{
    width: 40.5px;
    height: 80px;
  }
  .loges, .hide{
    display: flex;
    justify-content: space-between;
    gap: 80px;

  }
  .logo{
    padding: 20px;
    border-bottom: 1px solid rgb(254, 163, 1);
    display: inline-block;
  }
.banner{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column-reverse;
  margin: 20px;
  padding: 0px 20px;
}
.para{
  width: 400px;
  height: 120px;
}
.blog_section{
  padding: 20px; 
}
.blog_card2 a{
  font-size: 12px;
  padding: 10px;
}
.blog_card2, .blog_card3{
  display: flex;
}
.blog_card4, .blog_card5{
  display: flex;
}
.standard-curriculum{
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: top, center;
}
.curriculum-heading{
  text-align: left;
  justify-content: flex-start;
}
.curriculum_box{
width: 357px;
height: 321.28px;
display: flex;
flex-direction: column;
align-items: center;
gap: 22px;
padding: 40px 28px 36px 40px;
}
.blog_card3 a{
  font-size: 12px;
  padding: 10px;
}
.blog_card4 a{
  font-size: 12px;
  padding: 10px;
}
.blog_card5 a{
  font-size: 12px;
  padding: 10px;
}
.blog_article{
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.blog_heading{
  padding: 0px 0px 30px 0;
}
.blog_heading h2{
  font-size: 30px;
}
.blog_content .blog_title{
  font-size: 10px;
}
.blog_card1{
  display: none;
}
.footer{
  margin-top: 40px;
  gap: 40px;
  margin:20px;
  flex-direction: column;
  padding: 0px 20px;
}
.footer_logo{
    width: 100%;

}
.footer_logo p{
    padding-right: 0;
}
.footer_menu{
    width: 100%;
    padding: 30px 0;

}
.footer_menu h4{
    padding: 7px 0;
}
.footer_social h4{
  padding: 7px 0;
}
.social-links{
    width: 100%;
    padding-left: 0;
}
}